.acordeon {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid white;
  border-radius: 1rem;
  margin: 1rem 0;
  transition: 0.25s;
  background-color: transparent;
}

.acordeon.open,
.acordeon:hover {
  background-color: #55569e;
  border-color: #55569e;
}
.acordeon .trigger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.acordeon .trigger h2 {
  margin: 0;
  font-size: 1.5rem;
  text-align: start;
}

.acordeon .trigger:hover {
  cursor: pointer;
}

.acordeon .trigger::after {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/icons/arrow-down.svg");
  transition: 0.25s;
}

.acordeon.open .trigger::after {
  transform: rotate(180deg);
}

.acordeon .content {
  overflow: hidden;
  height: 0;
  transition: 0.5s;
}

.acordeon.open .content {
  display: block;
  overflow: auto;
  height: auto;
  transition: 0.5s;
  padding: 0 1rem 1rem 2rem;
}
